<a href="https://colab.research.google.com/github/MariaReneeGonzalezBravo/SIMULACION-1/blob/main/Num_Aleatorios_ProductoMedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
from os import listxattr
#Numeros Aleatorios- Métodos de generación
#Producto medio
def numpm(x1,x2): #-- Semillas
  c=x1*x2 # producto
  n = (len(str(c)))
  if n % 5 == 0:
    l=list(str(c))
    l1=l[1:4]
    cad="".join(map(str,l1))
    ent=int(cad)
  else:
    l=list(str(c))
    l.insert(0, 0)
    l1=l[2:5]
    cad="".join(map(str,l1))
    ent=int(cad)

  return ent

x1=123
x2=456

for _ in range(50):  #para hacerla cicila 20 veces
  x1=numpm(x1,x2)
  print(x1)

608
772
520
371
691
150
840
830
784
575
622
836
812
702
201
165
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524
389
773
524

In [57]:
numpm(123,456)

608